// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font2: 'Anton',
sans-serif;
$font3: 'Bakbak One',
sans-serif;
$font4: 'Outfit',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #bea8df;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f3c292;
$orange2: #faca9a;
$yellow: #e9e091;
$green: #88be9f;
$green2: #88a795;
$teal: #88c0ba;
$cyan: #b1d5f3;